{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пароль скинуто</title>
    <link rel="stylesheet" href="{% static 'css/authentication/reset-password-complete.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Laila:wght@400;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Rufina:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto+Slab&family=Rufina:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header id="header" class="header"> 
        <div class="container">
            <div class="header-wrapper">
                <a href="{% url 'main:index' %}">
                    <img src="{% static 'img/Logo2.png' %}" alt="logo" class="header-logo">
                </a>
                <h1 class="header-title">
                    <svg class="header-circle" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                        <circle cx="25" cy="25" r="25" fill="black"/>
                    </svg>
                    ExpressTest
                    <svg class="header-circle" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                        <circle cx="25" cy="25" r="25" fill="black"/>
                    </svg>
                </h1>
            </div>
        </div>
    </header>
    <section id="section" class="section">      
        <div id="popup" class="popup">
            <div class="popup_window">
                <div class="popup__square">
                    <div class="popup__yellow_square">
                    <h2 class="popup__title">
                        Пароль скинуто
                    </h2>
                    <div class="popup__texts">
                    <p class="popup__text">
                        Ваш пароль було змінено
                    </p>
                    <p class="popup__text">
                        Ви можете <a href="{% url 'user:login' %}" class="popup-enter">Увійти</a>
                    </p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
            
    </section>
</body> 