{% load static %}

<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Скидання паролю{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'main/css/loginStyle.css' %}">
    </head>
    <body>
        <div class="container">
            {% block content %}
                <h1>Забули свій пароль?</h1>
                <p>Введіть вашу електронну адресу для отримання нового паролю.</p>
                {% if error_message %}
                    <p style="color: red;">{{ error_message }}</p>
                {% endif %}
                <form action="." method="post">
                    {% csrf_token %}
                    <input type="email" name="email" value="{% if user_email %}{{user_email}}{% endif %}" required>
                    <p><input type="submit" value="Надіслати електронного листа"></p>
                </form>
            {% endblock %}
        </div>
    </body>
</html>