{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Скинути пароль{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'main/css/password_reset_confirm.css' %}">
    </head>
    <body>
        {% block content %}
        <div class="container">
            <h1 class="heading">Скинути пароль</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>
                {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
            
                <p><button type="submit">Змінити мій пароль</button></p>
            </form>
        </div>
        {% endblock %}
    </body>
</html>



