{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Скидання пароля</title>
    <link rel="stylesheet" href="{% static "css/authentication/forgot-password.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Laila:wght@400;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Rufina:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto+Slab&family=Rufina:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header id="header" class="header"> 
        <div class="container">
            <div class="header-wrapper">
                <a href="{% url 'main:index' %}">
                    <img src="{% static 'img/Logo2.png' %}" alt="logo" class="header-logo">
                </a>
                <h1 class="header-title">
                    <svg class="header-circle" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                        <circle cx="25" cy="25" r="25" fill="black"/>
                    </svg>
                    ExpressTest
                    <svg class="header-circle" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                        <circle cx="25" cy="25" r="25" fill="black"/>
                    </svg>
                </h1>
            </div>
        </div>
    </header>
    <section id="section" class="section">
        <div class="square">
            <div class="yellow-square">
                <h2 class="title-forgot-password">
                    Забули пароль?
                </h2>
                <p class="your-email">
                    Введіть вашу електронну адресу для отримання нового паролю
                </p>
                {% if error_message %}
                    <p style="color: red;">{{ error_message }}</p>
                {% endif %}
                <form action="." class="input-form" method="post">
                    {% csrf_token %}
                    <input class="input-email" type="email" name="email" value="{% if user_email %}{{user_email}}{% endif %}" placeholder="Електронна пошта" required>
                    <button class="link-send-email" type="submit">Скинути пароль</button>
                </form>
            </div>
        </div>
    </section>
 </body> 