{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Скинути пароль{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/loginStyle.css' %}">
</head>
<body>
    {% block content %}
    <div class="container">
        <h1 class="heading">Скинути пароль</h1>
        <p class="message">Ми надіслали вам інструкції щодо встановлення пароля на електронну пошту.</p>
        <p class="info">Якщо ви не отримали електронного листа, будь ласка, переконайтеся, що ви ввели адресу, яку ви зареєстрували.</p>
    </div>
    {% endblock %}
</body>
</html>

