{% extends "base.html" %}
{% load static %}

{% block title %}Реєстрація{% endblock %}

{%block css %} <link rel="stylesheet" href="{% static "css/authentication/register.css" %}"> {%endblock %}

{% block links %} 
<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Laila:wght@400;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Rufina:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">
{%endblock %}

{% block content %}
    <section id="section" class="section">
        <div class="square">
            <div class="yellow-square">
                <h2 class="title-register">
                    Реєстрація
                </h2>
                <form action="{% url "user:registration" %}" class="form1" method="post">
                    {% csrf_token %}
                    <input class="full-input" type="name" id="id_first_name" value = "{% if form.first_name.value %}{{form.first_name.value}}{% endif %}" name="first_name" placeholder="Ім’я" required> 
                    {% if form.first_name.errors %}
                        <p class="error-message">
                            {{form.first_name.errors}}
                        </p>
                    {% endif %}
                    <input class="full-input" type="lastname"id="id_last_name" value = "{% if form.last_name.value %}{{form.last_name.value}}{% endif %}" name="last_name" placeholder="Прізвище" required>
                    {% if form.last_name.errors %}
                        <p class="error-message">
                            {{form.last_name.errors}}
                        </p>
                    {% endif %}
                    <input class="full-input {% if form.email.value %}error{% endif %}" 
                        type="email" 
                        id="id_email" 
                        value = "{% if form.email.value %}{{form.email.value}}{% endif %}" 
                        name="email" 
                        placeholder="Електронна пошта" required> 
                    {% if form.email.errors %}
                        <p class="error-message">
                            {{form.email.errors}}
                        </p>
                    {% endif %}
                    <input class="full-input {% if form.password1.errors %}error{% endif %}" 
                        type="password" 
                        id="id_password1" 
                        value="{% if form.password1.value %}{{ form.password1.value }}{% endif %}" 
                        name="password1" 
                        placeholder="Пароль" 
                        required>
                     {% if form.password1.errors %}
                    <p class="error-message">
                        {{ form.password1.errors }}
                    </p>
                     {% endif %}

                     <input class="full-input {% if form.password2.errors %}error{% endif %}" 
                        type="password" 
                        id="id_password2" 
                        value="{% if form.password2.value %}{{ form.password2.value }}{% endif %}" 
                        name="password2" 
                        placeholder="Підтвердіть пароль" 
                        required>
                     {% if form.password2.errors %}
                    <p class="error-message">
                        {{ form.password2.errors }}
                    </p>
                     {% endif %}                  
                    <a class="link-btn"><button type="submit" class="form-btn">Зареєструватися</button></a>
                </form>
            </div>
        </div>
    </section>
{%endblock %}