body {
    font-size: 15px;
    padding: 0;
    margin: 0;
    background-color: #FFF555;
    background-image: url(/static/img/section.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  div,
  p,
  input,
  button,
  form,
  span,
  a,
  ul,
  li {
    box-sizing: border-box;
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

.header {
    background-color: #fcc827;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 2px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.container {
    max-width: 1144px;
    margin: 0 auto;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}


.header-title {
    font-size: 60px;
    font-family: "Laila", serif;
    font-weight: 700;
}

.header-link {
    color: #000;
    font-family: "Roboto Mono";
    font-size: 40px;
    font-weight: 700;
    width: 50px;
    height: 52px;
    border-radius: 5px;
    border: 2px solid #000;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }  


.square {
    max-width: 1000px;
    background-color: #fff;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    margin-top: 65px;
    padding-top: 66px;
    padding-bottom: 66px;
}

.yellow-square {
    background-color: #FCC827;
    max-width: 547px;
    padding-top: 32px;
    padding-bottom: 76px;
    margin-left: 226px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.title-name {
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    font-size: 35px;
    max-width: 378px;
    text-align: center;
    margin-left: 76px;
}

.form1 {
    margin-top: 10px;
}

.lastsurname {
    display: block;
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    width: 470px;
    padding: 12px 19px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 39px;
    margin-top: 5px;
}

.cod {
    margin-top: 40px;
}

.access-code {
    font-family: "Roboto Slab", serif;
    font-size: 20px;
    width: 470px;
    padding: 12px 19px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 39px;
    margin-top: 5px;
}

.link-test {
    font-family: "Rufina", serif;
    font-weight: 800;
    background-color: #000;
    color: #FFF;
    width: 170px;
    display: block;
    padding: 12px 0px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin-top: 5px;
    margin-left: 183px;
    transition: all 0.5s ease;
    border: none;
}

.link-test:hover {
    background-color: #393939;
}

.access-code.error{
    border: 2px solid red;
}

.error-message{
    color:red;
    text-align: center;
    margin-top: 5px;
}

.popup2 {
position: fixed;
width: 100%;
height: 100%;
backdrop-filter: blur(2px);
top: 0;
left: 0;
z-index: 1100;
overflow-y: auto;
overflow-x: hidden;
transition: all 0.5s ease 0s;
}


.popup_window2 {
height: 406px;
display: flex;
align-items: center;
justify-content: center;
padding: 30px 10px;
transition: all 0.5s ease 0s;
opacity: 1;
transform: translate(-50%, -50%);
position: absolute;
top: 50%;
left: 50%;
}

.popup__yellow_square2 {
width: 1100px;
border-radius: 15px;
border: 2px solid #000;
background: #FCC827;
margin-left: 40px;
padding-top: 37px;
padding-bottom: 35px;
}

.popup__certificate2 {
color: #FFF;
background-color: #000;
font-weight: 600;
font-family: "Roboto Slab";
font-size: 35px;
width: 218px;
display: block;
padding: 5px 0px 11px 0px;
border-radius: 10px;
text-align: center;
text-decoration: none;
    margin-left: 444px;
}

.popup__create__text2 {
color: #FFF;
font-family: "Roboto Slab";
font-weight: 800;
font-size: 35px;
padding-left: 36px;
text-decoration: underline;
}

.popup__txt1 {
font-family: "Roboto Slab";
font-size: 20px;
padding-left: 36px;
text-indent: 25px;
padding-top: 15px;
}

.popup__txt1 span {
font-weight: 800;
}

.popup__container__text {
font-size: 20px;
font-family: "Roboto Slab", serif;
padding-top: 11px;
}

.popup__txt2 {
padding-left: 36px;
text-indent: 25px;
}

.number__list {
margin: 0;
padding-left: 53px;
}

.list1 {
max-width: 940px;
}

.list2 {
max-width: 890px;
}

.txt__result {
text-align: center;
padding-top: 10px;
font-family: "Roboto Slab", serif;
font-size: 20px;
font-weight: 900;
}

.popup__text_answer {
flex-direction: column;
font-family: "Roboto Slab", serif;
font-size: 20px;
text-align: center;
background-color: #FFF;
border: 1px solid #000;
width: 371px;
margin-left: 371px;
border-radius: 15px;
padding: 6px 0px 6px 0px;
}

.container__answer {
padding-top: 25px;
padding-bottom: 25px;
}

.more__answer2 {
padding-left: 11px;
}

.my__modal {
    
    position: relative;
}

.close__btn {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
}

.close__btn svg path {
    transition: fill .4s;
}

.close__btn:hover svg path {
    fill: #727272;
}

.popup__cont__txt {
    overflow-y: auto;
    max-height: 100%;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 2, 5, 0.7) transparent;
}