<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Створення тестування</title>
    <link rel="stylesheet" href="{% static "main/css/create_testStyles.css" %}">
</head>
<body>
    <header>
        <h1>Створення тестування</h1>
    </header>
    <main>
        <form id="createForm" enctype="multipart/form-data" action="{% url 'dashboard:createTest' %}" method="post">
            {% csrf_token %}
            <label for="testFile" id="fileLabel">Перетягніть файл сюди або натисніть для вибору</label>
            <input type="file" id="testFile" name="myfile" accept=".txt" style="display: none;">
            <label for="testDuration">Час для проходження тесту (в хвилинах):</label>
            <input type="number" id="testDuration" name="duration_test" min="1" required>
            <button type="submit">Завантажити тест</button>
        </form>
    </main>
</body>
</html>