{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "main/css/dashboardStyle.css" %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>ExpressTest</title>
    </head>
    <body>
        <nav id="sidebar">
            <div class="float-top">
                <div class="sidebar-controls">
                    <button class="new-test" onclick="window.location.href='{% url "dashboard:createTest" %}'"><i class="fa fa-plus"></i> Створити тестування</button>
                    <button class="hide-sidebar"><i class="fa fa-chevron-left"></i></button>
                </div>
                    <ul class="conversations">
                        {% for test in user_tests %}
                            <li>
                                <div>
                                    <form action="{% url 'dashboard:test_parameters' test_id=test.id %}" method="get">
                                        <button type="submit" class="conversation-button">
                                            <i class="fa fa-message fa-regular"></i> {{ test.test_name }}
                                        </button>
                                    </form>
                                </div>
                                <div class="fade"></div>
                                <div class="edit-buttons">
                                    <form action="{% url 'dashboard:delete_test' %}" method="post" class="delete-test-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="test_id" value="{{ test.id }}">
                                        <button type="button" class="delete-test-button">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
            </div>
            <div class="user-menu">
                <button>
                    {% comment %} {% if user.image %}
                        <img src="{{user.image.url}}" alt="" class="user-icon">
                    {% else %}
                        <span class="user-initial">{{ form.first_name.value|first }}</span>
                    {% endif %} {% endcomment %}
                    {{ form.first_name.value }} {{ form.last_name.value }}
                    <i class="fa fa-ellipsis dots"></i>
                </button>
                <ul>
                    <li><a href="{% url 'user:logout' %}"><button id="logout-btn">Log out</button></a></li>
                </ul>
            </div>
        </nav>
        <main>
            <div class="view new-test-view">
                <div class="model-selector"> </div>
                <div class="logo">ExpressTest </div>
            </div>
        </main>
        <script src="{% static "main/js/dashboardScript.js" %}"></script>
        <script src="{% static "main/js/confirmDeleteScript.js" %}"></script>
    </body>
</html>
