{% extends "dashboardBase.html" %}
{% load static %}

{% block testParametrs %}
    <section id="section" class="section">
        <div class="square">
            <h2 class="info-title">
                Інформація про тест
            </h2>
            <div class="block_table">
                <div class="block_table1">
                    <p class="p-block">
                        Назва тесту:
                    </p>
                    <p class="p-block">
                        Назва файлу:
                    </p>
                    <p class="p-block">
                        Тривалість тестування:
                    </p>
                    <p class="p-block">
                        Унікальний код:
                    </p>
                    <p class="p-block">
                        Дата створення тесту:
                    </p>
                </div>
                <div class="block_table2">
                    <div class="box-table">
                        <div class="input-container">
                            <form action="{% url 'dashboard:test_parameters' test_id=test.id %}" id="newName" method="post">
                                {% csrf_token %}
                                <input type="text" value="{{ test.test_name }}" name="newTestName" class="myInput" id="myInput1" disabled> 
                                <button id="activateBtn1" type="button">
                                    <svg class="pen-svg" onclick="enableInput('myInput1')" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M1 22C1 21.4477 1.44772 21 2 21H22C22.5523 21 23 21.4477 23 22C23 22.5523 22.5523 23 22 23H2C1.44772 23 1 22.5523 1 22Z" fill="#0F0F0F"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.3056 1.87868C17.1341 0.707107 15.2346 0.707107 14.063 1.87868L3.38904 12.5526C2.9856 12.9561 2.70557 13.4662 2.5818 14.0232L2.04903 16.4206C1.73147 17.8496 3.00627 19.1244 4.43526 18.8069L6.83272 18.2741C7.38969 18.1503 7.89981 17.8703 8.30325 17.4669L18.9772 6.79289C20.1488 5.62132 20.1488 3.72183 18.9772 2.55025L18.3056 1.87868ZM15.4772 3.29289C15.8677 2.90237 16.5009 2.90237 16.8914 3.29289L17.563 3.96447C17.9535 4.35499 17.9535 4.98816 17.563 5.37868L15.6414 7.30026L13.5556 5.21448L15.4772 3.29289ZM12.1414 6.62869L4.80325 13.9669C4.66877 14.1013 4.57543 14.2714 4.53417 14.457L4.0014 16.8545L6.39886 16.3217C6.58452 16.2805 6.75456 16.1871 6.88904 16.0526L14.2272 8.71448L12.1414 6.62869Z" fill="#0F0F0F"/>
                                    </svg>
                                </button>
                                <button id="submitBtn" type="submit" style="display: none;"></button>
                            </form>
                        </div>
                        <div class="input-container">
                            <form action="{% url 'dashboard:test_parameters' test_id=test.id %}" id="newTest" method="post" enctype="multipart/form-data" style="height: 52px;">
                                {% csrf_token %}
                                <p id="selectedFileName" class="myInput fix-input">{{filename}}</p>
                                <input  type="file" class="myInput" name="NewTest" id="myInput2"  accept=".txt" style="display: none;" onchange="updateFileName(); submitForm()">
                                <button id="activateBtn2" type="button" class="pen">
                                    <svg class="pen-svg2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" onclick="document.getElementById('myInput2').click()">
                                        <path d="M1 22C1 21.4477 1.44772 21 2 21H22C22.5523 21 23 21.4477 23 22C23 22.5523 22.5523 23 22 23H2C1.44772 23 1 22.5523 1 22Z" fill="#0F0F0F"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.3056 1.87868C17.1341 0.707107 15.2346 0.707107 14.063 1.87868L3.38904 12.5526C2.9856 12.9561 2.70557 13.4662 2.5818 14.0232L2.04903 16.4206C1.73147 17.8496 3.00627 19.1244 4.43526 18.8069L6.83272 18.2741C7.38969 18.1503 7.89981 17.8703 8.30325 17.4669L18.9772 6.79289C20.1488 5.62132 20.1488 3.72183 18.9772 2.55025L18.3056 1.87868ZM15.4772 3.29289C15.8677 2.90237 16.5009 2.90237 16.8914 3.29289L17.563 3.96447C17.9535 4.35499 17.9535 4.98816 17.563 5.37868L15.6414 7.30026L13.5556 5.21448L15.4772 3.29289ZM12.1414 6.62869L4.80325 13.9669C4.66877 14.1013 4.57543 14.2714 4.53417 14.457L4.0014 16.8545L6.39886 16.3217C6.58452 16.2805 6.75456 16.1871 6.88904 16.0526L14.2272 8.71448L12.1414 6.62869Z" fill="#0F0F0F"/>
                                    </svg>
                                </button>
                            </form>
                        </div>
                        <div class="input-container">
                            <form action="{% url 'dashboard:test_parameters' test_id=test.id %}" id="newDuration" method="post">
                                {% csrf_token %}
                                <input type="number" value="{{ test.duration_test }}" name="newDuration" class="myInput" min="0" id="myInput3" disabled> 
                                <button id="activateBtn3" type="button">
                                    <svg class="pen-svg" onclick="enableInput('myInput3')" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path d="M1 22C1 21.4477 1.44772 21 2 21H22C22.5523 21 23 21.4477 23 22C23 22.5523 22.5523 23 22 23H2C1.44772 23 1 22.5523 1 22Z" fill="#0F0F0F"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18.3056 1.87868C17.1341 0.707107 15.2346 0.707107 14.063 1.87868L3.38904 12.5526C2.9856 12.9561 2.70557 13.4662 2.5818 14.0232L2.04903 16.4206C1.73147 17.8496 3.00627 19.1244 4.43526 18.8069L6.83272 18.2741C7.38969 18.1503 7.89981 17.8703 8.30325 17.4669L18.9772 6.79289C20.1488 5.62132 20.1488 3.72183 18.9772 2.55025L18.3056 1.87868ZM15.4772 3.29289C15.8677 2.90237 16.5009 2.90237 16.8914 3.29289L17.563 3.96447C17.9535 4.35499 17.9535 4.98816 17.563 5.37868L15.6414 7.30026L13.5556 5.21448L15.4772 3.29289ZM12.1414 6.62869L4.80325 13.9669C4.66877 14.1013 4.57543 14.2714 4.53417 14.457L4.0014 16.8545L6.39886 16.3217C6.58452 16.2805 6.75456 16.1871 6.88904 16.0526L14.2272 8.71448L12.1414 6.62869Z" fill="#0F0F0F"/>
                                    </svg>
                                </button>
                            </form>
                        </div>
                        <p class="p-block  p-block2">
                            {{ test.unique_code }}
                        </p>
                        <p class="p-block  p-block2">
                            {{ test.test_date }}
                        </p>
                    </div>  
                </div>
            </div>
            <h2 class="info-title info-title2">
                Результати тестування               
            </h2>
            <table class="new-tables">
                <tr class="new-table">
                    <th class="new-table1">Ім’я</th>
                    <th class="new-table1">Прізвище</th>
                    <th class="new-table1">Правильні відповіді</th>
                    <th class="new-table1">Оцінка</th>
                </tr>
                {% for result in results %}
                    <tr class="new-table">
                        <td class="new-table2">{{ result.first_name }}</td>
                        <td class="new-table2">{{ result.last_name }}</td>
                        <td class="new-table2">{{ result.correct_answers }}</td>
                        <td class="new-table2">{{ result.grade }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </section> 
{% endblock  %}