body {
  font-size: 15px;
  padding: 0;
  margin: 0;
  background-color: #FFF555;
  background-image: url("/static/img/section.d9e7969d3c36.png");
  background-repeat: no-repeat;
  background-size: cover;
}

div,
p,
input,
button,
form,
span,
a,
ul,
li {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #fcc827;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 2px solid black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

.container {
  max-width: 1144px;
  margin: 0 auto;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}


.header-title {
  font-size: 60px;
  font-family: "Laila", serif;
  font-weight: 700;
}

.header-link {
  color: #000;
  font-family: "Roboto Mono";
  font-size: 40px;
  font-weight: 700;
  width: 50px;
  height: 52px;
  border-radius: 5px;
  border: 2px solid #000;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.users {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.menu {
  background-image: url("/static/img/dashboard/SideBar.015a61fd5051.png");
  background-repeat: no-repeat;
  position: absolute;
  left: -332px;
  top: 23%;
  width: 332px;
  transition: right 0.3s ease;
  z-index: 1000;
}
.menu-button {
  cursor: pointer;
  position: relative;
}
.menu.active {
  transition: right 0.3s ease;
  left: 0;
  top: 23%;
}
.menu-btn__icon {
  position: absolute;
  right: 13px;
  top: 39px;
}

.list {
  margin-left: 45px;
}

.link {
  font-family: "Roboto Serif", serif;
}

.container-circle {
  position: absolute;
  left: 0;
  top: 32%;
  transform: translateY(-50%);
  z-index: 999;
}

.circle {
  width: 130px;
  height: 130px;
  background-color: black;
  position: fixed;
  left: -60px;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
}

.menu-link {
  margin-top: 30px;
  padding-top: 1px;
  padding-left: 45px;
}

.menu-creat-test {
  color: #fff;
  font-family: "Rufina" sans-serif;
  font-weight: 700;
  background-color: #000;
  width: 241px;
  display: block;
  padding: 12px 0px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.menu-title {
  margin-top: 25px;
  margin-left: 104px;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-weight: 400;
}

.link {
  color: #000;
  text-decoration: none;
  margin-right: 75px;
}

.list {
  list-style-type: none;
  color: #000;
  font-family: "Roboto Serif";
  font-size: 16px;
  width: 241px;
  padding: 10px;
  display: flex;
  align-items: center;
  padding: 5px 0px;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 5px;
  margin-top: 10px;
  justify-content: space-around;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
.menu-test-view {
  cursor: pointer;
  border: none; /* Видалити бордер */
  background-color: transparent; 
}
.button-container {
  display: flex;
  gap: 2px;
  align-items: center;
}
.link-10 {
  margin-right: 65px;
}

.menu-list {
  margin-bottom: 109px;
}

.link-exit{
  margin-top: 109px;
}

.exit {
font-size: 16;
color: #FFF;
background-color: #000;
font-family: "Rufina", serif;
width: 333px;
display: block;
padding: 12px 0px;
border-radius: 5px;
text-align: center;
text-decoration: none;
transition: all 0.5s ease;
}

.exit:hover {
background-color: #393939;
}

.box {
background-color: #FFF;
display: flex;
align-items: center;
margin-top: 7px;
border-radius: 5px;
border: 1px solid #000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.last-firstname {
background-repeat: no-repeat;
font-family: "Roboto Slab", serif;
font-size: 20px;
padding: 7px 0px;
padding-left: 16px;
}

.dots {
margin-left: 117px;
cursor: pointer;
}

.square {
max-width: 1000px;
margin: 0 auto;
background-color: #fff;
border-radius: 15px;
border: 2px solid black;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
margin-top: 66px;
padding-bottom: 36px;
}

.info-title {
font-family: "Roboto Slab", serif;
font-size: 35px;
font-weight: 600;
text-align: center;
margin-top: 27px;
}

.block_table {
display: flex;
margin-left: 30px;
margin-top: 20px;
}

.block_table1 {
font-family: "Roboto Slab", serif;
font-size: 20px;
font-weight: 600;
text-align: center;
}

.p-block {
width: 470px;
padding: 12px;
background-color: #FCC827;
border: 1px solid #000;
margin-top: 5px;
}

.box-table {
align-items: center;
}

.pblock {
padding: 11px 0px;
padding-left: 190px;
}

.pen1 {
margin-left: 164px;
cursor: pointer;
}

.pen2 {
margin-left: 82px;
}

.pblock2 {
padding: 10px 0px;
padding-left: 110px;
cursor: pointer;
}

.block_table2 {
font-family: "Roboto Slab", serif;
font-size: 20px;
font-weight: 600;
text-align: center;
} 

.p-block2 {
background-color: #FFF;
}

.info-title {
margin: 0;
margin-top: 40px;
}

.table-results {
margin-left: 30px;
margin-top: 27px;
}


.new-tables {
padding: 0;
font-family: "Roboto Slab", serif;
font-weight: 600;
margin-left: 15px;
}


.new-table1 {
border: 1px solid #000;
font-size: 20px;
padding: 11px 0px 13px 0;
background-color: #FCC827;
}


.new-table2 {
border: 1px solid #000;
width: 235px;
height: 50px;
}

