{% extends "base.html" %}
{% load static %}

{% block title %}Введіть код доступу{% endblock %}

{%block css %} <link rel="stylesheet" href="{% static "css/test/register-test.css" %}"> {%endblock %}

{% block links %} 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Laila:wght@400;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Rufina:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap" rel="stylesheet">
{%endblock %}

{% block content %}
    <section id="section" class="section">
        <div class="square">
            <div class="yellow-square">
                <h2 class="title-name"> 
                    Введіть прізвище та 
                    ім’я
                </h2>
                <form class="form1" action="{% url 'takeTest:test' %}" method="GET">
                    <input class="lastsurname" type="text" id="first_name" name="first_name" value="{% if first_name %}{{first_name}}{% endif %}" placeholder="Ім'я" required>
                    <input class="lastsurname" type="text" id="last_name" name="last_name" value="{% if last_name %}{{last_name}}{% endif %}" placeholder="Прізвище" required>
                
                    <h2 class="title-name cod">
                        Введіть код доступу
                        до тесту
                    </h2>
                    <input class="access-code {% if errorCode %}error{% endif %}" type="text" id="accessCode" name="accessCode" value="{% if unique_code %}{{unique_code}}{% endif %}" placeholder="Код доступу" required maxlength="6" >
                    {% if errorCode %}
                        <p class="error-message">
                            {{errorCode}}
                        </p>
                    {% endif %}
                    <button class="link-test" type="submit">Пройти тест</button>
                </form>
            </div>
        </div>
    </section>
{%endblock %}

{% block script %}
    <script>
        localStorage.clear();
    </script>
    <script src="{% static "js/doc/documentationApear.js" %}"></script>
    <script src="{% static "js/doc/documentatioDisapear.js" %}"></script>
{% endblock %}