{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Заголовок{% endblock %}</title>
    {% block css %} {% endblock %}
    {% block links %} {% endblock %}
</head>
<body>
    <header id="header" class="header"> 
        <div class="container">
            <div class="header-wrapper">
                <a href="{% url 'main:index' %}">
                    <img src="{% static 'img/Logo2.png' %}" alt="logo" class="header-logo">
                </a>
                <div class="header-expres">
                    <h1 class="header-title">
                        <svg class="header-circle circles" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                            <circle cx="25" cy="25" r="25" fill="black"/>
                        </svg>
                        ExpressTest
                        <svg class="header-circle" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50" fill="none">
                            <circle cx="25" cy="25" r="25" fill="black"/>
                        </svg>
                    </h1>
                </div>
                <a href="" class="header-link" id="popup-link2">?</a>
            </div>
        </div>
    </header>
    {% block content %}
    
    {% endblock %}
     <div id="popupTwo" class="popup2" style="display: none;">
        <div class="popup_window2">
                <div class="popup__yellow_square2">
                    <div class="my__modal">
                        <a class="popup__certificate2">Довідка</a>
                        <button class="close__btn" id="close_my_modal_btn">
                            <svg width="35" height="35" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M4.11 2.697L2.698 4.11 6.586 8l-3.89 3.89 1.415 1.413L8 9.414l3.89 3.89 1.413-1.415L9.414 8l3.89-3.89-1.415-1.413L8 6.586l-3.89-3.89z" fill="#000"></path>
                            </svg>
                        </button>
                    </div>
                    <a class="popup__create__text2">Створити тест</a>
                    <p class="popup__txt1">
                        Після натискання кнопки <span>"Створити тест"</span> ви потрапляєте на сторінку, де вам потрібно 
                        ввести назву тесту, вибрати необхідний час для його проходження (якщо встановити 0 то час буде не обмежений) та завантажити файл у 
                        форматі .txt. Для завантаження файлу ви можете натиснути на  поле і вибрати файл із свого 
                        комп'ютера або просто перетягнути його у відповідне поле.
                    </p>
                    <div class="popup__container__text">
                        <p class="popup__txt2">
                            Для створення текстового файлу для тесту, що містить запитання та варіанти відповідей, 
                            слід дотримуватися наступних кроків:
                        </p>
                        <div class="number__lists">
                            <ol class="number__list">
                                <li class="list1">
                                    Відкривши текстовий редактор, додайте запитання для тесту, розмістивши його на 
                                    початку рядка(нумерувати запитання не потрібно, система зробить це за вас);
                                </li>
                                <li class="list2">
                                    Після запитання пропустіть один рядок та додайте список варіантів відповідей. 
                                     Кожну відповідь записуйте з нового рядка;
                                </li>
                                <li>
                                    Позначте правильну відповідь символом “+” та пропустіть рядок перед наступним питанням.
                                </li>
                            </ol>
                        </div>
                    </div>
                    <p class="txt__result">
                        У результаті має виглядати так:
                    </p>
                    <div class="popup__text_answer">
                        <p>
                            Питання?
                        </p>
                       <div class="container__answer">
                        <p class="more__answer">
                            Відповідь 1
                        </p>
                        <p class="more__answer2">
                            Відповідь 2+                              
                        </p>
                        <p class="more__answer3">
                            Відповідь 3
                        </p>
                        <p class="more__answer4">
                            Відповідь 4
                        </p>
                       </div>

                        <p>
                            Питання?
                        </p>
                    </div>
                </div>
            </div>
        </div> 
    {% block script %}
        <script src="{% static "js/doc/documentationApear.js" %}"></script>
        <script src="{% static "js/doc/documentatioDisapear.js" %}"></script>
    {% endblock %}
</body>
</html>
