<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тестувальна система</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>ExpressTest</h1>
    </header>
    <main>
        <button id="createTestBtn">Створити тестування</button>
        <button id="takeTestBtn">Пройти тестування</button>
    </main>
    <script src="script.js"></script>
</body>
</html>
