body 
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container 
{
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 
{
    font-size: 24px;
    margin-bottom: 10px;
}

p 
{
    margin-bottom: 20px;
}

ul 
{
    list-style: none;
    padding: 0;
}

li 
{
    margin-bottom: 10px;
}

input[type="radio"] 
{
    margin-right: 10px;
}

label 
{
    cursor: pointer;
}

button 
{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover 
{
    background-color: #45a049;
}

#timer 
{
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 24px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}